# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.idea/
.project
.settings/
.vscode/
.vscode-test/
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/play-configs.xml
.directory

# Tooling
.dart_tool/
.env
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
.gradle/
local.properties
**/flutter_export_environment.sh
**/gradlew
**/gradlew.bat
**/generated/
/android/app/src/main/res/values/strings.xml
/android/key.properties

# iOS
**/Pods/
**/DerivedData/
.appledoc/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets.zip
/ios/Flutter/flutter_play_compound.zip
/ios/Frameworks/
/ios/Helper/
/ios/Pods/
/ios/build/

# macOS
/macos/Flutter/ephemeral/

# Linux
/linux/flutter/ephemeral/

# Windows
/windows/flutter/ephemeral/

# Web
/web/assets/